* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #e38826;
    --cyan: #006970;
    --dark-cyan: #004241;
    --gray: #f2f2f2;
    --transparent-white: rgba(255, 255, 255, 0.75);
}

body {
    padding: 5.5rem 1.5rem;
}

h2 {
    font-family: 'big sholders display', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--gray);
    margin-block: 1.875rem;
}

p {
    font-family: 'lexend Deca', sans-serif;
    font-size: 0.9375rem;
    color: var(--transparent-white);
    margin-bottom: 1.875rem;
}

a {
    font-family: 'lexend Deca', sans-serif;
}

section {
    padding: 3rem;
}

.sedans {
    background: var(--orange);
}

.SUVS {
    background: var(--cyan);
}

.luxuosos {
    background: var(--dark-cyan);
}
