* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #e38826;
    --cyan: #006970;
    --dark-cyan: #004241;
    --gray: #f2f2f2;
    --transparent-white: rgba(255, 255, 255, 0.75);
}

h2 {
    font-family: 'big sholders display', sans-serif;
}

p {
    font-family: 'lexend Deca', sans-serif;
}

a {
    font-family: 'lexend Deca', sans-serif;
}
